XML Files/baselinexml.xml
XML Files/example extract for python.xml
XML Files/xml doc.xml
test*.csv
Java/
delete/
extract/
Python/inspirational files/
Python/DEPRECATED/
Python/testing/
log/api_log.log
log/general_log.log
*.log
Python/CSV
data/*
Python/BWLastCopies/output/*
Python/BWLastCopies/cleanup/*
